{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('assets/css/RegisterStyle.css') }} ">
<!-- police-->
<link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap" rel="stylesheet"> 
{% endblock %}

{% extends 'base.html.twig' %}

{% block title %}Connexion MeetInMarseille!{% endblock %}

{% block body %}



    <div class="background-inscription">
        <div id="base_inscription">
            <form method="post">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}
                
                {% if app.user %}
                	{# POUR REDIRIGER VERS LA PAGE MEETING APRES 5 SECONDES #}
                    <meta  http-equiv = "refresh"  content = "5;{{ path('map') }}" >
                {% endif %}
                
                {% if app.user %}
                    <h1 class="color-1 text-uppercase text-center text-white display-4 opacity-0 ">Bienvenue {{ app.user.pseudo }} !</h1>
                    <p class="text-center display-5 text-warning">On te redirige vers les Meetings ...</p>
                {% else %}

                {% endif %}

            </form>
        </div>
    </div>

    
    



			<div id="container" class="container d-flex flex-row flex-wrap justify-content-around">
				<div class="formulaire align-self-center" data-aos="fade-up">
                <a href="{{ path('accueil') }}"><img class="logo-connexion" data-aos="fade-down-right" src="assets/img/logo-white.png" alt="MeetInMarseille"></a>
                <h2 class="connexion" data-aos="zoom-in">CONNEXION</h2>
					<input type="email" value="{{ last_username }}" name="email" placeholder="Votre email" id="inputEmail" class="form-control mt-4 mb-4" required autofocus>
                    <input type="password" name="password" placeholder="Votre mot de passe" id="inputPassword" class="form-control mb-4" required>

                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                    {#
                        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                        See https://symfony.com/doc/current/security/remember_me.html

                        <div class="checkbox mb-3">
                            <label>
                                <input type="checkbox" name="_remember_me"> Remember me
                            </label>
                        </div>
                    #}

                    <button id="connexion" class="btn btn-primary" type="submit">Se connecter</button>
                    <a id="new" class="p-2 text-white text-decoration" href="{{ path('app_register') }}">Nouveau ? S'inscrire !</a>
				</div>
				<div class="aside mt-4">
					<h2 data-aos="fade-up">Ah, te revoilà ! <br> On t'attendait ! </h2>
					<img src="assets/img/friends.png" alt="welcome">
				</div>

			</div>
		</div>

	</div>
{% endblock %}
