{% block stylesheets %}
	<link
	rel="stylesheet" href="{{ asset('assets/css/RegisterStyle.css') }} ">
	<!-- police-->
	<link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap" rel="stylesheet">

{% endblock %}

{% extends 'base.html.twig' %}

{% block title %}Inscription MeetInMarseille
{% endblock %}

{% block header %}
	<header class="container-fluid">
		<div class="row">
			<nav class="navbar navbar-expand-sm col navbar-light">
				<a class="navlogo" href="{{ path('accueil') }}"><img class="logo" src="assets/img/logo-white.png" alt="MeetInMarseille"></a>
				<button class="navbar-toggler hidden-lg-up float-xs-sm-right bg-primary" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
					<span>
						<i class="hamburger fas fa-bars"></i>
					</span>
				</button>
				<div class="collapse navbar-collapse justify-content-end" id="navbarNav">
					<ul class="navbar-nav">
						<li class="nav-item active">
							<a class="align-self-end button-meeting btn p-2 mr-3" href="{{ path('map') }}">Voir les meeting<img class="icone-fire ml-1" src="assets/img/icone-fire.png" alt="icone fire"></a>
						</li>
					</ul>
				</div>
			</nav>
		</div>
	</header>
{% endblock %}

{% block body %}

	<div class="background-inscription">
		<div id="base_inscription">
			<h1 class="color-1 text-uppercase text-center display-4 opacity-0">{{ messageConfirmation }}</h1>
			<h4 class="text-center color-2">{{ messageConfirmation2 }}
				<a href="{{ path('app_login') }}">{{ messageConfirmation3 }}</a>
			</h4>
			{% for flashError in app.flashes('verify_email_error') %}
				<div class="alert alert-danger" role="alert">{{ flashError }}</div>
			{% endfor %}

			<div id="formulaire" class="container d-flex flex-sm-row flex-wrap">


				<div class="container">
					{{ form_start(registrationForm) }}
					<div class="d-flex flex-row flex-wrap justify-content-center">
						<p class="text-white mr-3 display-5 bottom-mobile">Je suis ...</p>
						{{ form_widget(registrationForm.sexe) }}
					</div>
					<label
						class="w-100 p-0">
						<!-- AVEC form_widget on a pas le label juste le input-->
						{{ form_widget(registrationForm.pseudo) }}
					</label>
					<label
						class="w-100">
						<!-- AVEC form_row on a le label et le input-->
						{{ form_widget(registrationForm.email) }}
					</label>
					<label class="w-100">
						{{ form_widget(registrationForm.age) }}
					</label>
					<label class="w-100">
						{{ form_widget(registrationForm.plainPassword) }}
					</label>
					{{ form_end(registrationForm) }}
					<button type="submit" class="btn btn-primary d-block font-weight-bold mr-auto ml-auto w-50">{{ button_label|default('Créer mon compte !') }}</button>
					<a class="button-connexion btn p-2 align-self-end" href="{{ path('app_login') }}">Déjà inscrit ? Se connecter !</a>
				</div>
				<div class="aside">
					<h2>Rejoins la meilleure communauté de Marseille !</h2>
					<img src="assets/img/friends.png" alt="">
				</div>

			</div>
		</div>

	</div>


{% endblock %}
