{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('assets/css/RegisterStyle.css') }} ">
<!-- police-->
<link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap" rel="stylesheet"> 

{% endblock %}

{% extends 'base.html.twig' %}

{% block title %}Inscription MeetInMarseille{% endblock %}


            
{% block body %}
    <header>
        <nav class="header-pc d-flex flex-row justify-content-end">
            <a class="p-2 navlogo" href="{{ path('accueil') }}"><img class="logo" src="assets/img/logo.png" alt="MeetInMarseille"></a>
            <a class="btn btn-primary boutton-meeting align-self-center m-2" href="{{ path('map') }}">Voir les meetings<img class="icone-fire ml-1" src="assets/img/icone-fire.png" alt="icone fire"></a>
            {% if app.user %}
                <a class="btn btn-primary boutton-connexion align-self-center m-3" href="{{ path('app_logout') }}">Se déconnecter</a>
            {% else %}
                <a class="btn btn-primary boutton-connexion align-self-center m-3" href="{{ path('app_login') }}">Se connecter</a>
            {% endif %}    
        </nav>
        <!-- HEADER MOBILE-->
        <nav class="header-mobile navbar navbar-inverse navbar-static-top d-none" role="navigation">
            <div class="navbar-header d-flex justify-content-end w-100">
                <a class="mr-auto" href="{{ path('accueil') }}"><img class="logo-mobile" src="assets/img/logo.png" alt="MeetInMarseille"></a>
                <button type="button" class="navbar-toggle collapsed mr-2" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <i class="fas fa-bars"></i>
                    <i class="fas fa-times-circle d-none"></i>
                </button>
            </div>
        </nav>
    </header>
 
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <li class="m-auto">
            {% if app.user %}
                <a class="btn btn-primary boutton-connexion align-self-center m-3" href="{{ path('app_logout') }}">Se déconnecter</a>
            {% else %}
                <a class="btn btn-primary boutton-connexion align-self-center m-3" href="{{ path('app_login') }}">Se connecter</a>
            {% endif %}             </li>
            <li class="m-auto">
                <a class="btn btn-primary boutton-meeting align-self-center m-2" href="{{ path('map') }}">Voir les meetings<img class="icone-fire ml-1" src="assets/img/icone-fire.png" alt="icone fire"></a>
            </li>
        </ul>
    </div>
    <div class="background-inscription">
        <div id="base_inscription">
            <h1 class="color-1 text-uppercase text-center display-4 opacity-0">{{ messageConfirmation }}</h1>
            <h4 class= "text-center color-2">{{ messageConfirmation2 }} <a href ="{{ path('app_login') }}">{{ messageConfirmation3 }}</a></h4>
            {% for flashError in app.flashes('verify_email_error') %}
                <div class="alert alert-danger" role="alert">{{ flashError }}</div>
            {% endfor %}

            {{ form_start(registrationForm) }}
                <div class="formulaire-inscription">
                    <div class="d-flex flex-row flex-wrap justify-content-center">
                        <p class="text-white mr-3 display-5 bottom-mobile">Je suis ...</p>
                        {{ form_widget(registrationForm.sexe) }}
                    </div>
                    <label class="w-100 p-0">
                        <!-- AVEC form_widget on a pas le label juste le input-->
                        {{ form_widget(registrationForm.pseudo) }}
                    </label>
                    <label class="w-100">
                        <!-- AVEC form_row on a le label et le input-->
                        {{ form_row(registrationForm.email) }}
                    </label>
                    <label class="w-100">
                        {{ form_row(registrationForm.age) }}
                    </label>
                    <label class="w-100">
                        {{ form_row(registrationForm.plainPassword) }}
                    </label>
            {{ form_end(registrationForm) }} 
                <button type="submit" class="btn btn-primary d-block font-weight-bold mr-auto ml-auto w-50">{{ button_label|default('Créer mon compte !') }}</button>
                </div>
        </div>
    </div>
{% endblock %}