{% extends 'base.html.twig' %}

{% block title %}Hello MeetingController!
{% endblock %}

{% block stylesheets %}
	<!-- LEAFLET -->
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin=""/>
	<link rel="stylesheet" href="{{ asset('assets/css/mapStyle.css') }} ">
{% endblock %}

{% block header %}
	<header class="container-fluid">
		<div class="row">
			<nav class="navbar navbar-expand-sm col navbar-light">
				<a class="navlogo" href="{{ path('accueil') }}"><img class="logo" src="assets/img/logo.png" alt="MeetInMarseille"></a>
			</nav>
		</div>
	</header>
{% endblock %}

{% block body %}

	<div id="mapid"></div>
	<div class="w-100 d-flex m-3 justify-content-center">
		<a class="btn btn-info mr-2" href="{{ path('accueil') }}">Retour à l'accueil</a>				
		{% if app.user %}
		<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#creerMeetingModal" data-whatever="@mdo">Creer mon Meeting !</button>
	    {% else %}
		<a href="{{path ('app_register')}}" class="btn btn-primary">Creer mon Meeting !</a>
		{% endif %}
	    
	</div>

	{{ include('map/lightbox-creerMeeting.html.twig') }}


	{% for meeting in meetings %}
		<section>
			<div class="container fil-actu">
				<div class="card bg-primary mb-4">
					<header>
						<p class="titre-meeting">{{ meeting.titre }}</p>
					</header>

					<div id="details" class="card-body bg-primary mt-3">
						<p class="description-meeting">Meeting crée par {{ meeting.user.pseudo ?? 'vide'}}
						<img src="{{ asset('uploads/' ~ meeting.user.photo ) }}" class="profil-avatar-map" alt="avatar">
						</p>
						<p>{{ meeting.description }}</p>
						<hr>

					
					</div>
					<footer class="card-footer justify-content-center">
						<button type="button" class="btn btn-success" data-toggle="modal" data-target="#afficherMeetingModal{{loop.index0}}">AFFICHER LE MEETING</button>
					</footer>
				</div>
			</div>
		</section>

			{{ include('map/lightbox-afficherMeeting.html.twig') }}
	{% else %}
		<tr>
			<td colspan="10">No records found</td>
		</tr>
		
	{% endfor %}


{% endblock %}

{% block javascripts %}
<script>
var tabMarkers = [
 // [43.26, 5.39], [43.26, 5.40], [43.24, 5.37]

{% for meeting in meetings %}

[{{meeting.latitude??'43.26'}}, {{meeting.longitude??'5.39'}}],

	{% endfor %}

];
	
</script>
	<!-- LEAFLET -->
	<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>
	<script src="{{ asset('assets/js/meeting.js') }}"></script>
{% endblock %}
