{% extends 'base.html.twig' %}

{% block title %}Hello MeetingController!
{% endblock %}

{% block stylesheets %}
	<!-- LEAFLET -->
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin=""/>
	<link rel="stylesheet" href="{{ asset('assets/css/mapStyle.css') }} ">
{% endblock %}

{% block header %}
    <header class="container-fluid">
	<div class="row">
	<nav class="navbar navbar-expand-sm col navbar-light">
	<a class="navlogo" href="{{ path('accueil') }}"><img class="logo" src="assets/img/logo.png" alt="MeetInMarseille"></a>
</nav>
</div>
        </header>
    {% endblock %}

{% block body %}

	<div id="mapid"></div>
	<div class="w-100 d-flex m-3 justify-content-center">
		<a class="btn btn-info mr-2" href="{{ path('accueil') }}">Retour à l'accueil</a>
		<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#creerMeetingModal" data-whatever="@mdo">Creer mon Meeting !</button>

		<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#afficherMeetingModal"> AFFICHER LE MEETING </button>
	</div>

	{{ include('map/lightbox.html.twig') }}
    
    {{ include('map/lightbox2.html.twig') }}



	{% for meeting in meetings %}
		<section>
			<div class="container fil-actu">
				<div class="card bg-primary mb-4">
					<header>
						<img src="assets/img/avatar.png" class="m-3" alt="avatar">
						<p class="titre-meeting">
							Match de foot 5 vs 5 sur Marseille 10</p>
					</header>

					<div id="details" class="card-body bg-primary mt-3">
						<p class="description-meeting">
							{{ meeting.description }}
						</p>
						<hr>
						<div class="pl-3">
							<div class="row category">Catégorie :
								{{ meeting.categorie }}</div>
							<div class="row category">Sous-catégorie :
								{{ meeting.sousCategorie }}</div>
							<div class="row category">Sous-catégorie :
								{{ meeting.userMax }}</div>
							<div class="row datetime">Date et heure :
								{{ meeting.heure }}
							</div>
							<div class="row location">Localisation :
								{{ meeting.adresse }}</div>
						</div>


					</div>
					<footer class="card-footer justify-content-center">
						<button class="btn btn-success ml-4">Rejoindre !</button>
						<button class="btn btn-info ml-4">Plus d'infos</button>
					</footer>

				</div>
			</div>
		</section>
	{% else %}
		<tr>
			<td colspan="10">No records found</td>
		</tr>
	{% endfor %}


{% endblock %}

{% block javascripts %}
	<!-- LEAFLET -->
	<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>
	<script src="{{ asset('assets/js/meeting.js') }}"></script>
{% endblock %}
