{% extends 'base.html.twig' %}

{% block title %}Meetings MeetInMarseille{% endblock %}

{% block stylesheets %}
	<!-- LEAFLET -->
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin=""/>
	<link rel="stylesheet" href="{{ asset('assets/css/mapStyle.css') }} ">
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
{% endblock %}

{% block header %}
	<header class="container-fluid">
		<div class="row">
			<nav class="navbar navbar-expand-sm col navbar-light">
				<a class="navlogo" href="{{ path('accueil') }}"><img class="logo" src="assets/img/logo.png" alt="MeetInMarseille"></a>
			</nav>
		</div>
	</header>
{% endblock %}

{% block body %}
	<div id="mapid"></div>
		<div class="d-flex m-3 justify-content-center">
			{% if app.user %}
        		<button type="button" class="btn btn-map mb-2" data-toggle="modal" data-target="#creerMeetingModal" data-whatever="@mdo"><i class="far fa-plus-square fa-1x logo-add mr-2"></i>Creer mon Meeting !</button>
				<a href="{{path ('profil')}}" class="btn btn-mm ml-3"><i class="fas fa-users mr-2"></i>Mes Meetings</a>
			{% else %}
        		<a href="{{path ('app_register')}}" class="btn btn-map">Creer mon Meeting !</a>
			{% endif %}   
		</div>
		{{ include('map/lightbox-creerMeeting.html.twig') }}
		<h3 id="meetingavenir" class="a-venir"><i class="fab fa-hotjar mr-2"></i>Meetings à venir<i class="fab fa-hotjar ml-2"></i></h3>
		
		{# FORMULAIRE RECHERCHE PAR CATEGORIE #}
		{{ form_start(formSearch) }}
			{{ form_widget(formSearch.categorie) }}
    			<button class="btn btn-info">{{ button_label|default('Rechercher') }}</button>
		{{ form_end(formSearch) }}

		<main class="d-flex flex-row flex-wrap justify-content-around">
			{% for meeting in meetings %}
				{% if formSearch.categorie.vars.value != null and formSearch.categorie.vars.value != 'tout' %}
					{% if (meeting.categorie == formSearch.categorie.vars.value) %}
						{{ include('map/card-meeting.html.twig') }}
					{% endif %}
				{% else %}
					{{ include('map/card-meeting.html.twig') }}
				{% endif %}
			{% endfor %}
		</main>
{# LIGHTBOX VALIDER INSCRIPTION #}
		{{ include('map/lightbox-validerInscription.html.twig') }}
{% endblock %}

{% block javascripts %}
<script>
var tabMarkers = [

{% for meeting in meetings %}

{pos:[{{meeting.latitude??'43.26'}}, {{meeting.longitude??'5.39'}}],
popup:'<div class="header-popup"><p class="text-uppercase text-center p-2"><span>catégorie :</span>{{meeting.categorie}}</p></div><div class="body-popup"><p class="text-center">Meeting crée par <img src="{{ asset('uploads/' ~ meeting.user.photo ) }}" class="inscrit-avatar-map ml-2 mr-1" alt="avatar">{{meeting.user.pseudo}}</p><h3 class="text-center mt-3">{{meeting.titre}}</h3></div><div class="footer-popup">{% if ((meeting.userMax != null) and (meeting.UserMax - (meeting.inscrits|length + 1)) != 0)  %}<p class="text-center mb-2">Il reste {{meeting.UserMax - (meeting.inscrits|length + 1) }} place(s)</p>{% elseif (meeting.UserMax - (meeting.inscrits|length + 1)) == 0 %}<p class="text-center text-danger mb-2">Ce meeting est complet</p>{% else %}<p class="text-center mb-2">Inscription illimitée</p>{% endif %}<p>le {{ meeting.date ? meeting.date|date('d-m-Y') : '' }} à {{ meeting.date ? meeting.date|date('H:i') : '' }}</p></div>'
},
{% endfor %}

];
	
</script>
	<!-- LEAFLET -->
	<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>
	<script src="{{ asset('assets/js/meeting.js') }}"></script>
{% endblock %}
