{% extends 'base.html.twig' %}

{% block title %}Hello MeetingController!
{% endblock %}

{% block stylesheets %}
	<!-- LEAFLET -->
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin=""/>
	<link rel="stylesheet" href="{{ asset('assets/css/mapStyle.css') }} ">
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
{% endblock %}

{% block header %}
	<header class="container-fluid">
		<div class="row">
			<nav class="navbar navbar-expand-sm col navbar-light">
				<a class="navlogo" href="{{ path('accueil') }}"><img class="logo" src="assets/img/logo.png" alt="MeetInMarseille"></a>
			</nav>
		</div>
	</header>
{% endblock %}

{% block body %}

	<div id="mapid"></div>
	<div class="d-flex m-3 justify-content-center">				
		{% if app.user %}
		<button type="button" class="btn bg-primary text-white btn-map" data-toggle="modal" data-target="#creerMeetingModal" data-whatever="@mdo">Creer mon Meeting !</button>
	    {% else %}
		<a href="{{path ('app_register')}}" class="btn bg-primary text-white btn-map m-4 p-3">Creer mon Meeting !</a>
		{% endif %}
	    
	</div>

	{{ include('map/lightbox-creerMeeting.html.twig') }}

	<h3 class="text-center">Meetings à venir</h3>
	
<main class="d-flex flex-row flex-wrap justify-content-around">
	{% for meeting in meetings %}

		{% if date(meeting.date ? meeting.date|date('d-m-Y-H:i') : '') >= date() %} {#POUR LISTER SEULEMENT LES MEETINGS A VENIR #}
			<section>
				<div class="container fil-actu">
					<div class="card mb-4">
						<header class="w-100 d-flex flex-row position-relative h-auto">
								
							<h5 class="titre-meeting text-uppercase m-auto text-center">{{ meeting.categorie }}</h5>
						</header>
						<hr class="m-0">
						<div id="details" class="card-body d-flex flex-row flex-wrap align-items-center justify-content-around text-white text-center p-1">
							<div class="mr-3">
								<img src="{{ asset('uploads/' ~ meeting.photoMeeting ) }}" class="photo-meeting" alt="avatar">
							</div>
							<div>
								<div class="mb-3">
   										<p class="mb-3">
										   	{%if ( meeting.user.photo == null ) %}
        										{%if ( meeting.user.sexe == 'homme' ) %}
													<img src="assets/img/avatar.png" class="profil-avatar-map mr-2" alt="avatar">
        										{%else %}
													<img src="assets/img/avatar-femme.png" class="profil-avatar-map mr-2" alt="avatar">
        										{%endif %}
    										{%else %}
											<img src="{{ asset('uploads/' ~ meeting.user.photo ) }}" class="profil-avatar-map mr-2" alt="avatar">
											{%endif %}
											{{ meeting.user.pseudo ?? 'vide'}}
										</p>
								</div>
								{# <p class="font-weight-bold">{{ meeting.id }}</p> #}
								<p class="font-weight-bold">{{ meeting.titre }}</p>
								<p><i class="far fa-calendar-alt mr-2 "></i>{{ meeting.date ? meeting.date|date('d-m-Y') : '' }}</p>
								<p><i class="fas fa-map-marker-alt mr-2 "></i>{{ meeting.adresse }}</p>
							</div>
						</div>
						<footer class="card-footer d-flex justify-content-center">
						{% if app.user %}
						        <button id="btn-inscription_meeting" data-id="{{ meeting.id}}" onclick="InscriptionMeeting(event)" class="btn btn-success mr-3">REJOINDRE !</button>
						{% endif %}
							<button type="button" class="btn bg-1 text-white" data-toggle="modal" data-target="#afficherMeetingModal{{loop.index0}}"><i class="fas fa-plus-square mr-2"></i>DETAIL MEETING</button>
						</footer>
					</div>
				</div>
			</section>
		{% endif %}
		{{ include('map/lightbox-afficherMeeting.html.twig') }}
		{% else %}
		<tr>
			<td colspan="10">Pas de meetings prévus pour l'instant</td>
		</tr>
	{% endfor %}

</main>

{# LIGHTBOX VALIDER INSCRIPTION #}
	{{ include('map/lightbox-validerInscription.html.twig') }}
{% endblock %}

{% block javascripts %}
<script>
var tabMarkers = [
 // [43.26, 5.39], [43.26, 5.40], [43.24, 5.37]

{% for meeting in meetings %}

[{{meeting.latitude??'43.26'}}, {{meeting.longitude??'5.39'}}],

{% endfor %}

];
	
</script>
	<!-- LEAFLET -->
	<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>
	<script src="{{ asset('assets/js/meeting.js') }}"></script>
{% endblock %}
