{% block body %}

	<div class="modal fade" id="afficherMeetingModal{{loop.index0}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header justify-content-center">
					<h5 class="modal-title w-100 text-center" id="exampleModalLabel">{{ meeting.titre }}</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="pl-3">
						<div class="row category">Meeting crée par : <span class="font-weight-bold ml-2 text-light"> {{ meeting.user.pseudo ?? 'vide' }} ({{ meeting.user.age }} ans)</span></div>
						<div class="row category">Catégorie : 
							<span class="font-weight-bold ml-2 text-light">{{ meeting.categorie }}</span></div>
						<div class="row category">Sous-catégorie : 
							<span class="font-weight-bold ml-2 text-light">{{ meeting.sousCategorie }}</span></div>
						<div class="row category">Nombre de participant maximum : 
							<span class="font-weight-bold ml-2 text-light">{{ meeting.userMax ?? 'illimités'}}</span></div>
						<div class="row category">Date et heure : 
							<span class="font-weight-bold ml-2 text-light">{{ meeting.date ? meeting.date|date('d-m-Y') : '' }} à {{ meeting.date ? meeting.date|date('H:i') : '' }}</span>
						</div>
						<div class="row category">Localisation : 
							<span class="font-weight-bold ml-2 text-light">{{ meeting.adresse }}</span>
						</div>
						<div class="row category">Description : 
							<span class="font-weight-bold ml-2 text-light">{{ meeting.description }}</span>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				{% if app.user %}
					<button type="button" class="btn btn-success">Rejoindre !</button>
				{% else %}
					<a href="{{path ('app_register')}}" class="btn btn-primary">Rejoindre !</a>
				{% endif %}
			</div>
		</div>
		</div>
	</div>

{% endblock %}
