{% block body %}

	<div class="modal fade" id="afficherMeetingModal{{loop.index0}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header justify-content-center">
					<h5 class="modal-title w-100 text-center" id="exampleModalLabel">{{ meeting.titre }}</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="pl-3">
						<div class="row category">titre : 
							{{ meeting.titre }}</div>
						<div class="row category">Meeting crée par :
							{{ meeting.user.pseudo ?? 'vide' }}</div>
						<div class="row category">Catégorie :
							{{ meeting.categorie }}</div>
						<div class="row category">Sous-catégorie :
							{{ meeting.sousCategorie }}</div>
						<div class="row category">Nombre de participant maximum : 
							{{ meeting.userMax }}</div>
						<div class="row category">Date et heure :
							{{ meeting.date ? meeting.date|date('d-m-Y H:i') : '' }}
						</div>
						<div class="row location">Localisation :
							{{ meeting.adresse }}
						</div>
						<div class="row category">Description :
							{{ meeting.description }}
						</div>
					</div>
					</div>


				</div>
				<div class="modal-footer">
					{% if app.user %}
						<button type="button" class="btn btn-success">Rejoindre !</button>
					{% else %}
						<a href="{{path ('app_register')}}" class="btn btn-primary">Rejoindre !</a>
					{% endif %}

				</div>
			</div>
		</div>
	</div>


{% endblock %}
