{% extends 'base.html.twig' %}

{% block title %}Modifier mes informations{% endblock %}

{% block body %}
    <h1 class="text-white text-center m-4">Modifier mon profil</h1>

                {{ form_start(formuser) }}

<div class="d-flex flex-column m-4">
                    <label class="w-50 p-0 ml-auto mr-auto mb-4 bg-transparent">
                        {{ form_widget(formuser.pseudo) }}
                    </label>
                    <label class="w-50 p-0 ml-auto mr-auto mb-4">
                        <!-- AVEC form_widget on a pas le label juste le input-->
                        {{ form_widget(formuser.age) }}
                    </label>
                    <label class="w-50 p-0 ml-auto mr-auto mb-4">
                        <!-- AVEC form_widget on a pas le label juste le input-->
                        {{ form_widget(formuser.email) }}
                    </label>
                    <label class="w-50 p-0 ml-auto mr-auto mb-4">
                        <!-- AVEC form_widget on a pas le label juste le input-->
                        {{ form_widget(formuser.photo) }}
                    </label>
                        {{ form_widget(formuser._token) }}
                <button type="submit" class="btn btn-primary d-block font-weight-bold mr-auto ml-auto w-50">{{ button_label|default('Modifier') }}</button>





            {{ form_end(formuser) }} 
</div>




    <a class="btn btn-success font-weight-bold m-4" href="{{ path('profil') }}">Revenir au profil</a>

{% endblock %}
