{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block stylesheets %}
	<!-- MON CSS -->
	<link rel="stylesheet" href="{{ asset('assets/css/profilStyle.css') }} ">
{% endblock %}

{% block header %}
	<header>
		<nav class="navbar navbar-expand-sm col navbar-light d-flex">
			<a class="logo-user" href="{{ path('accueil') }}"><img class="logo-inscription" src="assets/img/logo-white.png" alt="MeetInMarseille"></a>
            <a class="align-self-end button-meeting btn p-2 mr-2 ml-auto" href="{{path ('map')}}"><i class="far fa-plus-square fa-2x logo-add p-1"></i>Creer un Meeting !</a>
            <a class="button-connexion btn p-2 align-self-end ml-3" href="{{ path('app_logout') }}"><i class="fas fa-sign-in-alt logo-user pr-2"></i>Se deconnecter</a>
		</nav>
	</header>
{% endblock %}

{% block body %}

<div id="modif_class1" class="information ">

    <div class="profil bar-profil" >

        <div class="info-perso">
            {%if ( app.user.photo == null ) %}
                {%if ( app.user.sexe == 'homme' ) %}
                    <img src="assets/img/avatar-homme.jpg" class="profil-avatar" alt="avatar">
                {%else %}
                    <img src="assets/img/avatar-femme.jpg" class="profil-avatar" alt="avatar">
                {%endif %}
            {%else %}
                <img src="{{ asset('uploads/' ~ app.user.photo ) }}" class="profil-avatar" alt="avatar">
            {%endif %}
        


            <div class="pseudo">{{ app.user.pseudo }}</div>
            <div class="ita">{{ app.user.age }} ans</div>
            <div class="ita">{{ app.user.email }}</div>
            <div class="ita">Marseille 13000</div>
        </div>

        <nav class="padd">
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active pad" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Mes Meetings</a>
                <a class="nav-item nav-link pad2" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Mes Informations</a>
            </div>
        </nav>


    </div>
    
    <div class="tab-content marge-body" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">

            <div class="marge-body">

                <div class="basse table ">
                    {% for meeting in app.user.meetings %}
                        {% if date(meeting.date ? meeting.date|date('d-m-Y-H:i') : '') >= date() %} {#POUR LISTER SEULEMENT LES MEETINGS A VENIR #}
                        

                    <main class="main m-aut">
                        <article class="card shadow">
                
                            <header class="card-header card-header-avatar">
                                {%if ( app.user.photo == null ) %}
                                    {%if ( app.user.sexe == 'homme' ) %}
                                        <img src="assets/img/avatar-homme.jpg" class="card-avatar" alt="avatar">
                                    {%else %}
                                        <img src="assets/img/avatar-femme.jpg" class="card-avatar" alt="avatar">
                                    {%endif %}
                                {%else %}
                                    <img src="{{ asset('uploads/' ~ app.user.photo ) }}" class="card-avatar" alt="avatar">
                                {%endif %}
                                <div class="card-pseudo"> {{ app.user.pseudo }}</div>
                                <div class="card-date">Il y a 2 min</div>
                            </header>
                            <div class="card-body">
                                <p>{{ meeting.description }}</p>
                                <hr>
                                <div class="pl-3 text-muted trait-bas">
                                    <div class="row">Theme : {{ meeting.categorie }} </div>
                                    <div class="row">Date et heure : {{ meeting.date ? meeting.date|date('Y-m-d H:i:s') : '' }} </div>
                                    <div class="row">Localisation : {{ meeting.adresse }} </div>
                                </div>

                                <div class="img-illus">
                                    <img src="{{ asset('uploads/' ~ meeting.photoMeeting ) }}" class="largetotal" alt="image-du-meeting">
                                </div>
                
                            </div>
                            <footer class="card-footer ">
                            {% if date(meeting.date ? meeting.date|date('d-m-Y-H:i') : '') >= date() %} {#POUR LISTER SEULEMENT LES MEETINGS A VENIR #}
                                <a class="btn btn-success " href="{{ path('profil_meeting_edit', {'id': meeting.id}) }}">Modifier</a>
                            {% endif %}

                                <form method="post" action="{{ path('profil_delete', {'id': meeting.id}) }}" onsubmit="return confirm('Êtes-vous sur de supprimer ce meeting ?');">
                                    <input type="hidden" name="_method" value="DELETE">
                                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ meeting.id) }}">
                                    <button class="btn btn-danger ml-4">Supprimer</button>
                                </form>
                            </footer>
                
                        </article>
                            
                    </main>

                        {% else %}
                        <tr>
                            <p colspan="10">Vous n'avez pas créé de meeting(s)</p>
                        </tr>
                        {% endif %}
                    {% endfor %}

                </div>

            </div> 
        </div>

        <div class="tab-pane fade mt-4" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
        
            <div>
                <table class="table table-borderless bg-primary text-white">
                    <tbody>
                        <tr>
                            <th scope="row" class="typo">Pseudo</th>
                            <td>{{ app.user.pseudo }}</td>
                        </tr>
                    
                        <tr>
                            <th scope="row" class="typo">Email</th>
                            <td>{{ app.user.email }}</td>
                        </tr>
                        <tr>
                            <th scope="row" class="typo">Age</th>
                            <td>{{ app.user.age }} ans</td>
                        </tr>
                        <tr>
                            <th><a class="button-edit btn" href="{{ path('profil_user_edit', {'id': app.user.id}) }}">Modifier mes informations</a></th>
                        </tr>
                    </tbody>
                </table>
                
            </div>
        </div>

    </div>

</div>
<hr>
{% endblock %}
