{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block stylesheets %}
	<!-- MON CSS -->
	<link rel="stylesheet" href="{{ asset('assets/css/profilStyle.css') }} ">
{% endblock %}

{% block header %}
	<header" >
		<nav class="d-flex flex-row fixed justify-content-center">
			<a class="p-2 navlogo" href="{{ path('accueil') }}"><img class="logo" src="assets/img/logo.png" alt="MeetInMarseille"></a>
            <a class="align-self-end button-meeting btn p-2 ml-4" href="{{path ('map')}}"><i class="far fa-plus-square fa-2x logo-add mr-2"></i>Creer un Meeting !</a>
			<a class="button-deconnexion btn p-4 align-self-center nav-link m-2 mr-5 " href="{{ path('app_logout') }}"> 
            Se déconnecter <i class="fas fa-sign-out-alt"></i></a>
            </nav>
	</header>
{% endblock %}

{% block body %}

<div id="modif_class1" class="information ">

    <div class="profil bar-profil sticky-top" >

        <div class="info-perso">
            {%if ( app.user.photo == null ) %}
                {%if ( app.user.sexe == 'homme' ) %}
                    <img src="assets/img/avatar.png" class="profil-avatar" alt="avatar">
                {%else %}
                    <img src="assets/img/avatar-femme.png" class="profil-avatar" alt="avatar">
                {%endif %}
            {%else %}
                <img src="{{ asset('uploads/' ~ app.user.photo ) }}" class="profil-avatar" alt="avatar">
            {%endif %}
        


            <div class="pseudo">{{ app.user.pseudo }}</div>
            <div class="ita">{{ app.user.age }} ans</div>
            <div class="ita">{{ app.user.email }}</div>
            <div class="ita">Marseille 13000</div>
        </div>

        <nav class="padd">
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active pad" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Mes Meetings</a>
                <a class="nav-item nav-link pad2" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Mes Informations</a>
            </div>
        </nav>


    </div>
    
    <div class="tab-content marge-body" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">

            <div class="marge-body">

                <div class="basse table ">
                    <nav class="sidebar card mt-3 shadow">
                
                        <a href="{{ path('map') }}" class=" active sidebar-actu">Fil d'actualité</a>
                        <a href="{{ path('profil') }}" class=" sidebar-even">Mes meetings</a>
                        <a href="{{ path('profil') }}" class=" sidebar-profil">Mon profil</a>
                        <a href="#" class=" sidebar-abon">Mes abonnées</a>
                    </nav>
                    {% for meeting in app.user.meetings %}
                        {% if date(meeting.date ? meeting.date|date('d-m-Y-H:i') : '') >= date() %} {#POUR LISTER SEULEMENT LES MEETINGS A VENIR #}
                        

                    <main class="main m-aut">
                        <article class="card shadow">
                
                            <header class="card-header card-header-avatar">
                                {%if ( app.user.photo == null ) %}
                                    {%if ( app.user.sexe == 'homme' ) %}
                                        <img src="assets/img/avatar.png" class="card-avatar" alt="avatar">
                                    {%else %}
                                        <img src="assets/img/avatar-femme.png" class="card-avatar" alt="avatar">
                                    {%endif %}
                                {%else %}
                                    <img src="{{ asset('uploads/' ~ app.user.photo ) }}" class="card-avatar" alt="avatar">
                                {%endif %}
                                <div class="card-pseudo"> {{ app.user.pseudo }}</div>
                                <div class="card-date">Il y a 2 min</div>
                            </header>
                            <div class="card-body">
                                <p>{{ meeting.description }}</p>
                                <hr>
                                <div class="pl-3 text-muted trait-bas">
                                    <div class="row">Theme : {{ meeting.categorie }} </div>
                                    <div class="row">Date et heure : {{ meeting.date ? meeting.date|date('Y-m-d H:i:s') : '' }} </div>
                                    <div class="row">Localisation : {{ meeting.adresse }} </div>
                                </div>

                                <div class="img-illus">
                                    <img src="{{ asset('uploads/' ~ meeting.photoMeeting ) }}" class="largetotal" alt="image-du-meeting">
                                </div>
                
                            </div>
                            <footer class="card-footer ">
                            {% if date(meeting.date ? meeting.date|date('d-m-Y-H:i') : '') >= date() %} {#POUR LISTER SEULEMENT LES MEETINGS A VENIR #}
                                <a class="btn btn-success" href="{{ path('profil_meeting_edit', {'id': meeting.id}) }}">Modifier</a>
                            {% endif %}

                                <form method="post" action="{{ path('profil_delete', {'id': meeting.id}) }}" onsubmit="return confirm('Êtes-vous sur de supprimer ce meeting ?');">
                                    <input type="hidden" name="_method" value="DELETE">
                                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ meeting.id) }}">
                                    <button class="btn btn-danger">Supprimer</button>
                                </form>
                                <div class="card-like">5 pouces</div>
                                <div class="card-rejoindre">😀</div>
                            </footer>
                
                        </article>
                            
                    </main>

                        {% else %}
                        <tr>
                            <p colspan="10">Vous n'avez pas créé de meeting(s)</p>
                        </tr>
                        {% endif %}
                    {% endfor %}

                    <aside class="aside card border-info mt-3 shadow cache">
                        <div>
                            <p class="gros">Bienvenu 'pseudo' ! Tu es sur le timeline de Meet In Mars :-D</p>
                            <hr>
                            <p>Regardez les evenements disponibles sur marseille et vous avez la posibilité de participer à ceux qui vous plaisent.</p>
                            <p>Tu as aussi la possibilité d'ajouter votre propre évenement et partager vos hobbits et passions.</p>
                        </div>
                    </aside>
                </div>

            </div> 
        </div>

        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
        
            <div>
                <h2>Notre code information</h2>
                <table class="table table-borderless bg-light border border-info">
                    <thead class="cache">
                        <tr>
                            <th scope="col">Attribu</th>
                            <th scope="col">Sujet</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row" class="typo">Pseudo</th>
                            <td>{{ app.user.pseudo }}</td>
                        </tr>
                        <tr class="table-secondary">
                            <th scope="row" class="typo">Nom</th>
                            <td>Jacob</td>
                        </tr>
                        <tr>
                            <th scope="row" class="typo">Prénom</th>
                            <td>Larry the Bird</td>
                        </tr>
                        <tr class="table-secondary">
                            <th scope="row" class="typo">Email</th>
                            <td>{{ app.user.email }}</td>
                        </tr>
                        <tr>
                            <th scope="row" class="typo">Age</th>
                            <td>{{ app.user.age }} ans</td>
                        </tr>
                        <tr class="table-secondary">
                            <th scope="row" class="typo">Sexe</th>
                            <td>Masculin</td>
                        </tr>
                        <tr>
                            <th scope="row" class="typo">A propos de moi</th>
                            <td>bady</td>
                        </tr>
                        <tr class="table-secondary">
                            <th scope="row" class="typo">Centre d'intêret</th>
                            <td>kory</td>
                        </tr>
                        <tr>
                            <th scope="row" class="masque"><a  class="" href="{{ path('profil_user_edit', {'id': app.user.id}) }}">Modifier mes informations</a></th>
                        </tr>
                    </tbody>
                </table>
                
            </div>
        </div>

    </div>

</div>
<hr>
{% endblock %}
