{% extends 'base.html.twig' %}

{% block title %}Hello AccueilController!{% endblock %}

        {% block stylesheets %}
        <!-- MON CSS -->
        <link rel="stylesheet" href="{{ asset('assets/css/AccueilStyle.css') }} ">
       {% endblock %}

 {% block header %}
    <header>
            <nav class="d-flex flex-row justify-content-end">
                <a class="p-2 navlogo" href="{{ path('accueil') }}"><img class="logo" src="assets/img/logo.png" alt="MeetInMarseille"></a>
                <a class="p-2" href="{{ path('inscription') }}">S'inscrire !</a>
                <a class="p-2" href="{{ path('connexion') }}">Se connecter</a>
                <a class="p-2" href="#">Comment ça fonctionne ?</a>
            </nav>
        </header>
    {% endblock %}

{% block body %}

<div class="slideshow">

 <!-- SLIDERS JS ICI -->

</div>
 <!-- DESCRIPTION RAPIDE ICI -->
<div class="description d-flex flex-row">
<img class="logodescription" src="assets/img/logodescription.png" alt="MeetInMarseille">
<p class="align-self-end">est la première plateforme en ligne vous permettant de partager votre temps, vos passions, hobbies et sorties avec les autres.</p>
<p>C'est simple, rapide et gratuit.</p>
</div>

 <!-- COMMENT ÇA MARCHE ? -->

<div classe="ccm">

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt officiis ea excepturi asperiores qui vitae quod dignissimos dolores omnis nostrum voluptas consectetur quidem possimus corporis expedita, similique minima vel at!</p>

</div>


<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>
</div>
{% endblock %}
