{% extends 'base.html.twig' %}

{% block title %}Meet In Marseille
{% endblock %}

{% block stylesheets %}
	<!-- MON CSS -->
	<link rel="stylesheet" href="{{ asset('assets/css/AccueilStyle.css') }} ">
	<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

{% endblock %}


{% block header %}
	<header class="container-fluid">
		<div class="row">
			<nav class="navbar navbar-expand-sm col navbar-light">
				<a href="{{ path('accueil') }}"><img class="logo" src="assets/img/logo.png" alt="MeetInMarseille"></a>
				<button class="navbar-toggler hidden-lg-up float-xs-sm-right bg-primary" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
					<span>
						<i class="hamburger fas fa-bars"></i>
					</span>
				</button>
				<div class="collapse navbar-collapse justify-content-end" id="navbarNav">
					<ul class="navbar-nav">
						<li class="nav-item active">
							{% if app.user %}
								{%if ( app.user.photo == null ) %}
									{%if ( app.user.sexe == 'homme' ) %}
										<a class="button-inscription btn p-4 align-self-end nav-link mr-4" href="{{ path('profil') }}">
											<img src="assets/img/avatar.png" class="profil-avatar-accueil mr-2" alt="avatar">Mon profil
										</a>
									{%else %}
										<a class="button-inscription btn p-4 align-self-end nav-link mr-4" href="{{ path('profil') }}">
											<img src="assets/img/avatar-femme.png" class="profil-avatar-accueil mr-2" alt="avatar">Mon profil
										</a>
									{%endif %}
								{%else %}
									<a class="button-inscription btn p-4 align-self-end nav-link mr-4" href="{{ path('profil') }}">
										<img src="{{ asset('uploads/' ~ app.user.photo ) }}" class="profil-avatar-accueil mr-2" alt="avatar">Mon profil
									</a>
								{%endif %}
							{% else %}
								<a class="button-inscription btn p-4 align-self-end nav-link mr-4" href="{{ path('app_register') }}">
									<i class="fas fa-users logo-user pr-2"></i>S'inscrire !
								</a>
							{% endif %}
						</li>
						<li class="nav-item">
							{% if app.user %}
								<a class="button-connexion btn p-2 align-self-end mr-4" href="{{ path('app_logout') }}">
									<i class="fas fa-sign-in-alt logo-user pr-2"></i>Se deconnecter</a>
							{% else %}
								<a class="button-connexion btn p-2 align-self-end mr-4" href="{{ path('app_login') }}">
									<i class="fas fa-sign-in-alt logo-user pr-2"></i>Se connecter</a>
							{% endif %}
						</li>
					</ul>
				</div>
			</nav>
		</div>
	</header>
{% endblock %}


{% block body %}

	<div
		class="slideshow justify-content-center d-flex">
		<!-- SLIDERS JS ICI -->
		<h1 class="bienvenue align-self-lg-center align-self-sm-start">
			Partagez vos passions avec les autres.</h1>
		<div class="buttons">
			{% if app.user %}
				<a class="align-self-end button-meeting btn p-2" href="{{ path('map') }}">Voir les meeting<img class="icone-fire ml-1" src="assets/img/icone-fire.png" alt="icone fire"></a>
				<a class="align-self-end button-meeting btn p-2 ml-4" href="{{path ('map')}}">
					<i class="far fa-plus-square fa-2x logo-add mr-3"></i>Creer un Meeting !</a>
			{% else %}

				<a class="align-self-end button-meeting btn p-2" href="{{ path('map') }}">Voir les meeting<img class="icone-fire ml-1" src="assets/img/icone-fire.png" alt="icone fire"></a>
				<a class="align-self-end button-meeting btn p-2 ml-4" href="{{ path('accueil') }}#fonctionnement">Comment ça marche ?</a>

			{% endif %}
		</div>
	</div>


	<!-- COMMENT ÇA MARCHE ? -->


	<section id="fonctionnement">
		<h2 class="text-center p-2">Comment ça marche ?</h2>
		<div class="ccm d-flex flex-row justify-content-around flex-wrap">
			<div class="etape1 flex-fonctionnement" data-aos="fade-right">
				<p class="number">&#9312;</p>
				<a class="btn" href="{{ path('inscription') }}">Je m'inscris</a>
				<img src="assets/img/logo1.png" alt="etape1">
			</div>
			<i class="fas fa-long-arrow-alt-right m-auto fa-10x d-flex justify-content-center flex-fonctionnement"></i>
			<div class="etape2 flex-fonctionnement" data-aos="fade-up">
				<p class="number">&#9313;</p>
				<a class="btn" href="{{ path('map') }}">Je crée un Meeting</a>
				<p>OU</p>
				<a class="btn" href="{{ path('map') }}">Je rejoins un Meeting</a>
				<img src="assets/img/logo2.png" alt="etape2">
			</div>
			<i class="fas fa-long-arrow-alt-right m-auto fa-10x d-flex justify-content-center flex-fonctionnement"></i>
			<div class="etape3 flex-fonctionnement" data-aos="fade-left">
				<p class="number">&#9314;</p>
				<a class="btn" href="{{ path('map') }}">Je rencontre les utilisateurs !</a>
				<img src="assets/img/logo3.png" alt="etape3">
			</div>
		</div>
	</section>

	
<section id="faq">

<h3 class="text-center" data-aos="fade-down"><i class="far fa-question-circle"></i>FAQ<i class="far fa-question-circle"></i></h3>

	
<div class="faq d-flex flex-wrap flex-row justify-content-around">

		<div class="bloc p-3" data-aos="fade-right">
			
			<h4>Meet in Marseille c'est quoi ?</h4>
			<p>Meet in Marseille est une plateforme en ligne vous permettant de partager votre temps, vos passions, hobbies et sorties avec les autres. C'est simple, rapide et totalement gratuit !</p>
		</div>

		
		<div class="bloc p-3" data-aos="fade-up">
		
			<h4>Est-ce que le site est accessible pour tous ?</h4>
			<p>
				Évidemment ! Les Meetings sont ouverts à tous, et chacun a la possibilité de créer son propre en Meeting, en fonction de ses centres d'intérêts !
			</p>
		</div>
	

	<div class="bloc p-3" data-aos="fade-left">

		<h4>Quel est le nombre maximum de participants ?</h4>
		<p>Il n'y a pas de limite de participants. Néanmoins, il faudra contacter l'établissement où se déroule ton Meeting afin de savoir combien de personnes ils peuvent recevoir.</p>
	</div>
{% endblock %}
