{% extends 'base.html.twig' %}

{% block title %}Hello AccueilController!
{% endblock %}

{% block stylesheets %}
	<!-- MON CSS -->
	<link rel="stylesheet" href="{{ asset('assets/css/AccueilStyle.css') }} ">
	<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

{% endblock %}


{% block header %}
	<header class="container-fluid">
		<div class="row">
			<nav class="navbar navbar-expand-sm col navbar-light">
				<a class="navlogo" href="{{ path('accueil') }}"><img class="logo" src="assets/img/logo.png" alt="MeetInMarseille"></a>
				<button class="navbar-toggler hidden-lg-up float-xs-sm-right bg-primary" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
					<span>
						<i class="hamburger fas fa-bars"></i>
					</span>
				</button>
				<div class="collapse navbar-collapse justify-content-end" id="navbarNav">
					<ul class="navbar-nav">
						<li class="nav-item active">
							{% if app.user %}
								<a class="button-inscription btn p-4 align-self-end nav-link mr-4" href="">
									<i class="fas fa-user-circle logo-user pr-2"></i>Mon profil</a>
							{% else %}
								<a class="button-inscription btn p-4 align-self-end nav-link mr-4" href="{{ path('app_register') }}">
									<i class="fas fa-users logo-user pr-2"></i>S'inscrire !</a>
							{% endif %}
						</li>
						<li class="nav-item">
							{% if app.user %}
								<a class="button-connexion btn p-2 align-self-end mr-4" href="{{ path('app_logout') }}">
									<i class="fas fa-sign-in-alt logo-user pr-2"></i>Se deconnecter</a>
							{% else %}
								<a class="button-connexion btn p-2 align-self-end mr-4" href="{{ path('app_login') }}">
									<i class="fas fa-sign-in-alt logo-user pr-2"></i>Se connecter</a>
							{% endif %}
						</li>
					</ul>
				</div>
			</nav>
		</div>
	</header>
{% endblock %}


{% block body %}

	<div
		class="slideshow justify-content-center d-flex">
		<!-- SLIDERS JS ICI -->
		<h1 class="bienvenue align-self-lg-center align-self-sm-start">
			Partagez vos passions avec les autres.</h1>
		{% if app.user %}
			<a class="align-self-end button-meeting btn p-2" href="{{ path('map') }}">Voir les meeting<img class="icone-fire ml-1" src="assets/img/icone-fire.png" alt="icone fire"></a>
			<a class="align-self-end button-meeting btn p-2 ml-4" href="{{path ('app_register')}}"><i class="far fa-plus-square fa-2x logo-add mr-3"></i>Creer un Meeting !</a>
		{% else %}
			<a class="align-self-end button-meeting btn p-2" href="{{ path('map') }}">Voir les meeting<img class="icone-fire ml-1" src="assets/img/icone-fire.png" alt="icone fire"></a>
			<a class="align-self-end button-meeting btn p-2 ml-4" href="{{ path('map') }}#fonctionnement">Comment ça marche ?</a>
		{% endif %}
	</div>

	<!-- DESCRIPTION RAPIDE ICI -->
	<div class="description d-flex flex-row container-fluid justify-content-center">
		<img src="assets/img/logodescription.png" alt="MeetInMarseille">
		<div class="mt-5">
			<p class="ml-2">est la première plateforme en ligne vous permettant de partager votre temps, vos passions, hobbies et sorties avec les autres.</p>
			<p class="text-center">C'est simple, rapide et gratuit.</p>
		</div>
	</div>

	<!-- COMMENT ÇA MARCHE ? -->


	<section id="fonctionnement">
		<h2 class="text-center p-2">Comment ça marche ?</h2>
		<div class="ccm d-flex flex-row justify-content-around flex-wrap">
			<div class="etape1 flex-fonctionnement" data-aos="fade-right">
				<p class="number">&#9312;</p>
				<a class="btn" href="{{ path('inscription') }}">Je m'inscris</a>
				<img src="assets/img/logo1.png" alt="etape1">
			</div>
			<i class="fas fa-long-arrow-alt-right m-auto fa-10x d-flex justify-content-center flex-fonctionnement"></i>
			<div class="etape2 flex-fonctionnement" data-aos="fade-up">
				<p class="number">&#9313;</p>
				<a class="btn" href="{{ path('map') }}">Je crée un Meeting</a>
				<p>OU</p>
				<a class="btn" href="{{ path('map') }}">Je rejoins un Meeting</a>
				<img src="assets/img/logo4.png" alt="etape2">
			</div>
			<i class="fas fa-long-arrow-alt-right m-auto fa-10x d-flex justify-content-center flex-fonctionnement"></i>
			<div class="etape3 flex-fonctionnement" data-aos="fade-left">
				<p class="number">&#9314;</p>
				<a class="btn" href="{{ path('map') }}">Je rencontre les utilisateurs !</a>
				<img src="assets/img/logo3.png" alt="etape3">
			</div>
		</div>
	</section>

	<div class="background-scrolltop">
		<img class="scrollTop" src="assets/img/iconescrolltop.png" alt="etape3">
	</div>
{% endblock %}
