{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('assets/css/inscriptionStyle.css') }} ">
<!-- police-->
<link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap" rel="stylesheet"> 

{% endblock %}

{% extends 'base.html.twig' %}

{% block title %}Hello InscriptionController!{% endblock %}



  {% block body %}
     <header>
        <nav class="header-pc d-flex flex-row justify-content-end">
            <a class="p-2 navlogo" href="{{ path('accueil') }}"><img class="logo" src="assets/img/logo.png" alt="MeetInMarseille"></a>
            <a class="btn btn-primary boutton-connexion align-self-center m-3" href="{{ path('connexion') }}">Se connecter</a>
            <a class="btn btn-primary boutton-meeting align-self-center m-2" href="{{ path('map') }}">Voir les meetings<img class="icone-fire ml-1" src="assets/img/icone-fire.png" alt="icone fire"></a>
            <a class="ccf p-2 pr-3 align-self-center m-2" href="{{ path('accueil') }}#fonctionnement">Comment ça fonctionne ?</a>
        </nav>
        <!-- HEADER MOBILE-->
        <nav class="header-mobile navbar navbar-inverse navbar-static-top d-none" role="navigation">
            <div class="navbar-header d-flex justify-content-end w-100">
                <a class="mr-auto" href="{{ path('accueil') }}"><img class="logo-mobile" src="assets/img/logo.png" alt="MeetInMarseille"></a>
                <button type="button" class="navbar-toggle collapsed mr-2" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <i class="fas fa-bars"></i>
                    <i class="fas fa-times-circle d-none"></i>
                </button>
            </div>
        </nav>
    </header>
 
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="m-auto">
                    <a class="btn btn-primary boutton-connexion align-self-center m-3" href="{{ path('connexion') }}">Se connecter</a>
                </li>
                <li class="m-auto">
                    <a class="btn btn-primary boutton-meeting align-self-center m-2" href="{{ path('map') }}">Voir les meetings<img class="icone-fire ml-1" src="assets/img/icone-fire.png" alt="icone fire"></a>
                </li>
                <li class="mt-2 mr-auto ml-auto">
                    <a class="ccf p-2 align-self-center m-2" href="{{ path('accueil') }}#fonctionnement">Comment ça fonctionne ?</a>
                </li>
            </ul>
        </div>
      <div class="background-inscription">
          <div id="base_inscription">
              <h1 class="color-1 text-uppercase text-center display-4 opacity-0">Rejoins-nous !</h1>
                      {{ include('user/_form.html.twig') }}

              <div class="formulaire-inscription">
                  <div class="d-flex flex-row flex-wrap justify-content-center">
                      <p class="text-white mr-3 display-5 bottom-mobile">Je suis ...</p>
                      <div class="align-self-center">
                          <input type="radio" id="sexe" name="drone" value="homme" class="mr-2" checked>
                          <label for="homme" class="display-6 mr-3 color-2">un homme</label>
                      </div>
                      <div class="align-self-center">
                          <input type="radio" id="sexe" name="drone" value="femme" class=" mr-2">
                          <label for="femme" class="display-6 color-3">une femme</label>
                      </div>
                  </div>

                  <form method="POST" action="#form-create" id="form-create" enctype="multipart/form-data" class="d-flex flex-column mt-4">
                      <label>
                          <input type="text" name="pseudo" required placeholder="Pseudo" maxlength="160">
                      </label>
                      <label>
                          <input type="email" name="email" required placeholder="Email" maxlength="160">
                      </label>
                      <label>
                          <input type="number" name="age" required placeholder="Age" min="18" max="100">
                      </label>
                      <label>
                          <input type="password" name="motDePasse" required placeholder="Mot de passe" maxlength="160">
                      </label>
                      <button type="submit" class="btn btn-primary mt-4 mr-auto ml-auto w-50">Créer mon compte !</button>
                      <!-- PARTIE TECHNIQUE -->
                      <input type="hidden" name="formIdentifiant" value="user">
                  </form>

                  <div>
                      <?php require_once "php/controller/traitement-user.php" ?>
                  </div>
              </div>
          </div>
      </div>
    {% endblock %}
