{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('assets/css/reset.css') }} ">
<link rel="stylesheet" href="{{ asset('assets/css/normalize.css') }} ">
<link rel="stylesheet" href="{{ asset('assets/css/inscriptionStyle.css') }} ">
{% endblock %}

{% extends 'base.html.twig' %}

{% block title %}Hello InscriptionController!{% endblock %}

 {% block header %}
    <header>
            <nav class="d-flex flex-row justify-content-end">
                <a class="p-2 navlogo" href="{{ path('accueil') }}"><img class="logo" src="assets/img/logo.png" alt="MeetInMarseille"></a>
                <a class="button-connexion btn p-2 align-self-center m-2 " href="{{ path('connexion') }}">Se connecter</a>
                <a class="button-meeting btn p-4 align-self-center nav-link m-2 " href="{{ path('inscription') }}">Voir les meetings</a>
                <a class="ccf p-2 pr-5 align-self-center m-2" href="#fonctionnement">Comment ça fonctionne ?</a>
            </nav>
        </header>
    <hr id="separation">
    {% endblock %}

{% block body %}

  <h1 class="color-1 text-uppercase mt-5 text-center display-3 font-weight-bold">Rejoins-nous !</h1>
  <div id="base">

    <div class="d-flex flex-row">
      <p class="color-2 mr-5 display-5">Je suis ...</p>
      <input type="radio" id="sexe" name="drone" value="homme" class="bouttonsexe mr-3 mb-2" checked>
      <label for="homme" class="display-6 mr-3 color-1 align-self-center">un homme</label>
      <input type="radio" id="sexe" name="drone" value="femme" class="bouttonsexe mr-3  mb-2">
      <label for="femme" class="display-6 mr-3 color-3 align-self-center">une femme</label>
    </div>

    

    <form method="POST" action="#form-create" id="form-create" enctype="multipart/form-data"
      class="d-flex flex-column mt-3">
      <label>
        <input type="text" name="pseudo" required placeholder="Pseudo" maxlength="160">
      </label>
      <label>
        <input type="email" name="email" required placeholder="Email" maxlength="160">
      </label>
      <label>
        <input type="number" name="age" required placeholder="Age" min="10" max="100">
      </label>

      <label>
        <input type="password" name="motDePasse" required placeholder="Mot de passe" maxlength="160">
      </label>
      <button type="submit" class="btn btn-primary">Créer mon compte !</button>
      <!-- PARTIE TECHNIQUE -->
      <input type="hidden" name="formIdentifiant" value="user">
      <div>
        <?php require_once "php/controller/traitement-user.php" ?>
      </div>
    </form>

  </div>
  <img src="assets/img/image-inscription4.jpg" alt="#" class="mt-2">

{% endblock %}
