{{ form_start(form) }}
    <div class="formulaire-inscription">
        <div class="d-flex flex-row flex-wrap justify-content-center">
            <p class="text-white mr-3 display-5 bottom-mobile">Je suis ...</p>
                    {{ form_widget(form.sexe) }}
        </div>
        <label class="w-100 p-0">
            {{ form_widget(form.pseudo) }}
        </label>
        <label class="w-100">
            {{ form_widget(form.email) }}
        </label>
        <label class="w-100">
            {{ form_widget(form.age) }}
        </label>
        <label class="w-100">
            {{ form_widget(form.password) }}
        </label>
        <button type="submit" class="btn btn-primary d-block font-weight-bold mt-4 mr-auto ml-auto w-50">{{ button_label|default('Créer mon compte !') }}</button>
    </div>
{{ form_end(form) }}



