{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('assets/css/inscriptionStyle.css') }} ">
<!-- police-->
<link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap" rel="stylesheet"> 

{% endblock %}
{{ form_start(form) }}
    <div class="formulaire-inscription">
                                <div class="d-flex flex-row flex-wrap justify-content-center">
                      <p class="text-white mr-3 display-5 bottom-mobile">Je suis ...</p>
                      <div class="align-self-center">
                          <input type="radio" id="sexe" name="drone" value="homme" class="mr-2" checked>
                          <label for="homme" class="display-6 mr-3 color-2">un homme</label>

                      </div>
                      <div class="align-self-center">
                          <input type="radio" id="sexe" name="drone" value="femme" class=" mr-2">
                          <label for="femme" class="display-6 color-3">une femme</label>
                      </div>

<form>

{# {{ form_label(form.firstname) }}
{{ form_widget(form.firstname, {'attr': {'placeholder': 'FIRSTNAME'}}) }} #}
<label>
{{ form_widget(form.pseudo, {'attr': {'class': 'foo'},{'placeholder': 'FIRSTNAME'}}) }}
</label>
<label>
{{ form_widget(form.email, {'attr': {'class': 'foo'}}) }}
</label>
<label>
{{ form_widget(form.age, {'attr': {'class': 'foo'}}) }}
</label>
<label>
{{ form_widget(form.password, {'attr': {'class': 'foo'}}) }}
</label>
    <button type="submit" class="btn btn-primary mt-4 mr-auto ml-auto w-50">{{ button_label|default('Créer mon compte !') }}</button>
</form>
</div>
{{ form_end(form) }}


